{% extends "base.html" %}
{% block content %}
	{% if user.is_authenticated  %}
		<div class="row">
		<div class="panel learnmore"><br/>
				<div class="left"><h2>Interested in learning about how you use Semety?</h2></div>
				<div class="right">
				<a href="create.html" class="right secondary button small learnmoreButton">START OUT →</a>
				<hr class="invisible">
				<center><a href="#" class="underline">No thanks, I got it.</a></center>
		</div>
		</div>
		<hr>
		<div class="panel clearfix">
		<h3 class="left"><span class="teamname">{{ user.username|title  }}'s</span> Dashboard</h3>
		<h3 class="right"><span class="teamname"> <a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false"><i class="fa fa-bars veryblue"></i></a> </span></h3>
		<ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
		  <li><a href="#"><i class="fa fa-comments"></i> Keyword Activity</a></li>
		  <li><a href="#"><i class="fa fa-users"></i> Interests Report</a></li>
		  <li><a href="#"><i class="fa fa-bar-chart"></i> Traffic Sources</a></li>
		  <li><a href="#"><i class="fa fa-globe"></i> Demographics</a></li>
		</ul>
		<hr/>
			<div class="row">
			<div class="large-12 columns">
				<section class="tabs-example">
				  <ul class="tabs" data-tab="">
					<li class="tab-title active"><a href="#panel2-1"><i class="fa fa-users"></i> View Your Teams</a></li>
					<li class="tab-title"><a href="#panel2-2"><i class="fa fa-envelope-o"></i> Check Your Invites</a></li>
					<li class="tab-title"><a href="/create/"><i class="fa fa-cog"></i> Create a Widget</a></li>
					<li class="tab-title right"><a href="#"><i class="fa fa-question-circle"></i></a></li>
				  </ul>
				  <div class="tabs-content">
					<div class="content active" id="panel2-1">
					<ul class="yourteams">
 				{% for team in teams %}
					{% if team.admin %}
						<li>
							<span class="left">
							<a href="/widgets/polls/team/{{ team.team.id }}">{{ team.team }}</a>
							</span>
							<span class="right">
							<a href="/team/#panel{{ team.team.id }}" class="manage"><i class="fa fa-cog"></i> Manage</a>
							<a href="#" class="manage"><i class="fa fa-bar-chart"></i> View Analytics</a>
							</span>
						</li>

					{% else %}
						<li>
							<a href="/widgets/polls/team/{{ team.team.id }}">{{ team.team }}</a>
						</li>
 					{% endif %}
				{% endfor %}
				</ul>
					</div>
					<div class="content" id="panel2-2">
					<ul id="invites"></ul>
					</div>
				</div>
					<div class="content" id="panel2-3">
					</div>
				  </div>
				</section>
		</div>


		<hr class="invisible">
		<h3 class="left">Keyword Activity</h3>
		<h3 class="right"><small><a href="#"><i class="fa fa-info-circle veryblue"></i></a></small></h3>
		<hr/>
		<small><p><i class="fa fa-line-chart"></i> <a href="#">This day</a> | <strong><a href="#">This week</a></strong> | <a href="#">This month</a> | <a href="#">Overall</a></p></small>
		<hr>
		<div class="keywordactivity"><center>
	<a href="#" class="secondary button NoBorder"> <i class="fa fa-cutlery"></i> Cookies <strong>x</strong><span class="keywordactivity2"> 137 </span></a>
		<a href="#" class="secondary large button NoBorder"> <i class="fa fa-book"></i> Harry Potter <strong>x</strong><span class="keywordactivity2"> 285 </span></a>
		<a href="#" class="secondary large button NoBorder"> <i class="fa fa-film"></i> James Bond <strong>x</strong><span class="keywordactivity2"> 203 </span></a>
		<a href="#" class="secondary tiny button NoBorder"> <i class="fa fa-facebook-official"></i> Facebook <strong>x</strong><span class="keywordactivity2"> 77 </span></a>
		<a href="#" class="secondary tiny button NoBorder"> <i class="fa fa-facebook-official"></i> Facebook <strong>x</strong><span class="keywordactivity2"> 77 </span></a>
		<a href="#" class="secondary tiny button NoBorder"> <i class="fa fa-facebook-official"></i> Facebook <strong>x</strong><span class="keywordactivity2"> 77 </span></a>
		<a href="#" class="secondary button NoBorder"> <i class="fa fa-cutlery"></i> Cookies <strong>x</strong><span class="keywordactivity2"> 137 </span></a>
		<a href="#" class="secondary button NoBorder"> <i class="fa fa-cutlery"></i> Cookies <strong>x</strong><span class="keywordactivity2"> 137 </span></a>
		<a href="#" class="secondary large button NoBorder"> <i class="fa fa-film"></i> James Bond <strong>x</strong><span class="keywordactivity2"> 203 </span></a>
		<br/>
		<a href="#" class="secondary tiny button NoBorder"><strong>LOAD MORE...</strong></a>
		</center></div>
		<hr class="invisible">
		<h3 class="left">Interests Report</h3>
		<h3 class="right"><small><a href="#"><i class="fa fa-info-circle veryblue"></i></a></small></h3>
		<hr/>
		<small><p><i class="fa fa-line-chart"></i> <a href="#">This day</a> | <a href="#">This week</a> | <a href="#">This month</a> | <strong><a href="#">Overall</a></strong></p></small>
		<hr>
		<div class="radarreport">
		<canvas id="canvas"></canvas>
		</div>
		<script>
			var radarChartData = {
				labels: ["Radar Interest #1", "Radar Interest #2", "Radar Interest #3", "Radar Interest #4", "Radar Interest #5", "Radar Interest #6", "Radar Interest #7"],
				datasets: [
					{
						label: "My First dataset",
						fillColor: "rgba(220,220,220,0.2)",
						strokeColor: "rgba(220,220,220,1)",
						pointColor: "rgba(220,220,220,1)",
						pointStrokeColor: "#fff",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(220,220,220,1)",
						data: [65,59,90,81,56,55,40]
					},
					{
						label: "My Second dataset",
						fillColor: "rgba(151,187,205,0.2)",
						strokeColor: "rgba(151,187,205,1)",
						pointColor: "rgba(151,187,205,1)",
						pointStrokeColor: "#fff",
						pointHighlightFill: "#fff",
						pointHighlightStroke: "rgba(151,187,205,1)",
						data: [28,48,40,19,96,27,100]
					}
				]
			};

			window.onload = function(){
				window.myRadar = new Chart(document.getElementById("canvas").getContext("2d")).Radar(radarChartData, {
					responsive: true
				});
			}
	</script>
<br/>
<br/>

	{% else %}
	<div id="loginmodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Login</h2>
		<hr>
		<form action="/login/" method="post">
			{% csrf_token %}
			<p><label for="id_username">Username:</label> <input id="id_username" maxlength="254" name="username" type="text"></p>
			<p><label for="id_password">Password:</label> <input id="id_password" name="password" type="password"></p>
			<input type="submit" value="Login" class="small button" / >
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	<div id="registermodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Register</h2>
		<hr>
		<form action="/register/" method="post">
            <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text">
            <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
			<p><label for="id_email">Email:</label> <input id="id_email" name="email" type="email"></p>
			<p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" type="text"></p>
			<p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" type="text"></p>
			<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password"></p>
			<p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password"> <span class="helptext">Enter the same password as above, for verification.</span></p>
             <input type="submit" value="Register" class="small button">
			{% csrf_token %}
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<div class="landingblue">
		<div class="row">
		<div class="register">
			<a href="#" data-reveal-id="registermodal"><i class="fa fa-user"></i> Register</a>
			<a href="#" data-reveal-id="loginmodal"><i class="fa fa-sign-in"></i> Log in</a>
		</div>
				<center>
					<img src="/static/img/logo2.png"/><br/>
					<h2>Experience the Freedom it Brings.</h2>
					<h3>Bring your web visitors a completely modern and easy way of engaging</h3><br/>

					<a href="/register/" class="secondary button small buttonSelected3 big"> Start right now, it's free →</a>
				</center>
		</div>
	</div>
	<div class="landinggreen">
		<div class="row">
			<div class="large-8 columns">
				<div class="poll">
					<div class="pollgrid clearfix">
						<div class="left">
							<h2>Will you use Semety for your advantage?</h2>
						</div>
					<div class="right">
							<h2 style="text-align:right;"><i class="fa fa-bar-chart"></i></h2>
					</div>
					<div class="clearfix"></div>

					<a href="#">
						<div class="polloption">
							<h3>Yes, this sounds very interesting!</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
							<h3>No, I don't have any use for this yet.</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
								<h3>I don't have any opinion, I just came to check it out.</h3>
						</div>
					</a>

					<div class="pollfooter">
						<a href=""><small>Powered by Semety 2015</small></a>
					</div>
				</div>
			</div>
			</div>
			<div class="large-4 columns">
				<h5>Semety brings functionality for all your visitors and fans.</h5><br/>
				<h6>And it's so incredibly easy to generate them through our website.</h6>
			</div>
		</div>
	</div>
	<div class="landingpurple">
		<div class="row">
			<div class="large-6 columns">
			<h5>Brand New Technology, for Both Individuals and Businesses.</h5>
			<h6>We offer smart analytics that gives feedback on essential activity, quality content, SEO and <a href="#">more processes</a>.</h6>
			</div>
			<div class="large-6 columns"><br/>

			</div>
		</div>
	</div>
	<div class="landingdark">
		<div class="row">
			<div class="large-7 columns">

			</div>
			<div class="large-5 columns"><br/>
				<h5>Be in the team you deserve, literally.</h5>
				<h6>Semety offers team creations and invites, where you can work efficiently with your team to create and analyze the best functions widespread.</h6>
			</div>
		</div>
	</div>
	<div class="landingorange">
		<div class="row">
			<div class="large-6 columns">
				<h5>Monetize your blog or website better, or bring fun to social networks.</h5>
				<h6>Semety will always have your back and let you choose everything you'd ever want to have, <a href="#">just read our success stories</a> and see for yourself.</h6>
			</div>
			<div class="large-6 columns"><br/>

			</div>
		</div>
	</div>
	<div class="landingwhite">
		<div class="row">
			<center>
				<h5>Some of the places you can use us</h5><br/><br/>
				<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 frontpagelogos">
					<li><img src="/static/img/home/frontpage/1.png"></li>
					<li><img src="/static/img/home/frontpage/2.png"></li>
					<li><img src="/static/img/home/frontpage/3.png"></li>
					<li><img src="/static/img/home/frontpage/4.png"></li>
					<li><img src="/static/img/home/frontpage/5.png"></li>
					<li><img src="/static/img/home/frontpage/6.png"></li>
				</ul><br/><hr/><br/>
				<h6>Our users have already generated <strong>460 functions</strong>, are you ready?</h6><br/><br/>

				<a href="#" class="secondary button small buttonSelected2 big">Want to read more?</a>
			</center>
		</div>

	{% endif %}
{% endblock%}
