{% extends "base.html" %}
{% block content %}
	{% if user.is_authenticated  %}
        <div id="invitesModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">Your Invites.</h2><hr>
            <ul id="invites"></ul>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
		 <div id="createpollModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">{{ user.username|title  }}, start out fresh.</h2><hr>
           
		   <div class="large-6 columns">
				<h4><i class="fa fa-user"></i> Create a solo function</h4>
				<p>By creating solo functions you'll be able to use everything Semety has to offer. You can choose this option
			  at anytime, and it won't effect anything related to your teams.
				</p><br/><br/><br/>
			<center><a href="/widgets/polls/create/" class="createapollhref"><i class="fa fa-bar-chart"></i> Create a Poll</a></center>
			<br/><br/>
		   </div>
		   <div class="large-6 columns">
				<h4><i class="fa fa-users"></i> Start out with a team</h4>
				<p>If you choose to start out with a team, you won't miss any of our features either. You will in fact be
		      able to set up your own team with moderators and members, or you can just join a desired team later on.<br/>
				</p><br/><br/>
			<center><a href="/team/create/" class="createapollhref"><i class="fa fa-users"></i> Create a Team</a></center>
			<br/><br/>
		   </div>
		   <hr/>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>
		<br>
		{% if not user.userprofile.tutorial_completed %}
		<div class="row">
		<div class="large-12 columns">
			<div class="panel learnmore"><br/>
					<div class="left"><h2><strong>Start now for free</strong>, create your functions with Semety!</h2></div>
					<div class="right">
						<a href="/create/" data-reveal-id="createpollModal" class="right secondary button small learnmoreButton">START OUT →</a>
					</div>
			</div>
			</div>
		</div>
		{% endif %}	
	<div class="row">
	<div class="large-12 columns">
	<div class="whitebackground left100 title">
	
		
				<h4>Welcome<span class="teamname"> {{ user.username|title  }}</span>, this is your Dashboard!</h4>
				<div class="invitesection disabled"><i class="fa fa-envelope"></i> TEAM INVITES <span>(0)</span></div>
		</div>
		</div>
		<div class="large-12 columns">
		<div class="whitebackground profilemain nobb">
		<h3 class="left joinedteams">
		
			<a href="#"><span class="selected"><i class="fa fa-bookmark-o"></i> Show All</span></a> 
			<a href="#"><span> <i class="fa fa-user"></i> Solo Creations</span></a> 
			<a href="#"><span> <i class="fa fa-users"></i>  Team Creations</span></a></h3>
			
		<div class="teamsearch">
			<input type="text" class="searchfunctions" placeholder="&#128269; Search for a Poll...">
		</div>
		</div>
			<ul class="yourteams">
 				{% for poll in polls %}
					<li>
						<div class="large-8 columns">
							<span class="left">
								<a href="/widgets/polls/{{ poll.id }}">
									<i class="fa fa-users"></i>
									{{ poll.title }} - <small><i>{{ poll.question }}</i></small>
								</a>
							</span>
						</div>
						<div class="large-4 columns">
							<span class="right">
								<a href="#" class="red"><i class="fa fa-bookmark-o"></i></a>
								<a href="/team/{{ poll.team.id }}" class="hg"><i class="fa fa-cog"></i></a>
								<a href="#" class="view hg"><i class="fa fa-bar-chart" style="margin-right:10px;"></i> View Analytics</a>
							</span>
						</div>
					</li>
				{% endfor %}
			</ul>


			<div class="whitebackground left100">
				<div class="left">
					<h4>Your Teams</h4> 
					</div>
				<div class="right">
					<a href="/team/create/" class="buttonSelected2 button small borderradius">View all Teams</a>
				</div>
			</div>

			<ul class="yourteams">
 				{% for team in teams %}
					<li>
						<div class="large-8 columns">
							<span class="left">
								<a href="/widgets/polls/{{ poll.id }}">
									<i class="fa fa-users"></i>
									{{ team.team.name }}
								</a>
							</span>
						</div>
						<div class="large-4 columns">
							<span class="right">
								<a href="#" class="red"><i class="fa fa-bookmark-o"></i></a>
								<a href="/team/{{ poll.team.id }}" class="hg"><i class="fa fa-cog"></i></a>
								{% if team.admin %}
								<a href="#" class="view hg"><i class="fa fa-cogs" style="margin-right:10px;"></i> Manage Team</a>
								{% endif %}
							</span>
						</div>
					</li>
				{% endfor %}
			</ul>


			</div>
		</div>
	</div>
</div>


	{% else %}
	<div id="loginmodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Login</h2>
		<hr>
		<form action="/login/" method="post">
			{% csrf_token %}
			<p><label for="id_username">Username:</label> <input id="id_username" maxlength="254" name="username" type="text"></p>
			<p><label for="id_password">Password:</label> <input id="id_password" name="password" type="password"></p>
			<input type="submit" value="Login" class="small button" / >
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	<div id="registermodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Register</h2>
		<hr>
		<form action="/register/" method="post">
            <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text">
            <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
			<p><label for="id_email">Email:</label> <input id="id_email" name="email" type="email"></p>
			<p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" type="text"></p>
			<p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" type="text"></p>
			<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password"></p>
			<p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password"> <span class="helptext">Enter the same password as above, for verification.</span></p>
             <input type="submit" value="Register" class="small button">
			{% csrf_token %}
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="header clearfix">
				<div class="large-4 small-12 columns">
					<a href="/"><img class="logo2" src="/static/img/logo.png"></a>
				</div>
				
				<ul class="right">
					<li><a href="/register/"> <!-- data-reveal-id="registermodal" --><i class="fa fa-user"></i> Register</a></li>
					<li><a href="/login/"> <!-- data-reveal-id="loginmodal" --><i class="fa fa-sign-in"></i> Log in</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="landingblue">
		<div class="row">
			<div class="landingpic">
				<center>
				<br/><br/>
					<a href="#"><img class="youtubebtn" src="/static/img/icons/playbtn.png"/></a>
					<h2 class="lead">Monetize online revenue better, earn more!</h2>
					<h3 class="lead">Bring your web visitors functions instead of just text and pictures on your website.</h3><br/>

					<a href="/register/" class="secondary button small buttonSelected3 big"> Start right now, it's free →</a>
				</center>
			</div>
		</div>
	</div>
	<div class="landinggreen">
		<div class="row">
			<div class="large-4 columns">
			<h5><strong>Semety brings functionality with analytics.</strong></h5><br/>
			<h6>This poll function brings storytelling to another level, it's independent and will analyze answers and patterns.</h6>
			</div>
			<div class="large-8 columns">
			<div class="poll">
					<div class="pollgrid clearfix">
						<div class="left">
							<h2>Will you use Semety for your advantage?</h2>
						</div>
					<div class="right">
							
					</div>
					<div class="clearfix"></div>

					<a href="#">
						<div class="polloption">
							<h3>Yes, this sounds very interesting!</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
							<h3>No, I don't have any use for this yet.</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
								<h3>I don't have any opinion, I just came to check it out.</h3>
						</div>
					</a>

					<div class="pollfooter">
						<a href=""><small>Powered by Semety 2015</small></a>
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</div>
	<div class="landingpurple">
		<div class="row">
			<div class="large-7 columns"><br/><br/>
				<img src="/static/img/intro-pic1.png"/>
			</div>
			<div class="large-5 columns"><br/>
				<h5><strong>So how do I start?</strong></h5>
				<h6>Just sign up, [..] <strong>create for free</strong> through the Semety platform, attach that to a website. Wait and look at the analytics to see how you can improve your website or business with <strong>more online revenue</strong>.</h6>		
		</div>
		</div>
	</div>
	<div class="landingdark">
		<div class="row">
			<div class="large-6 columns"><br/>
				<h5><strong>Brand New Technology, for Both Individuals and Businesses.</strong></h5>
				<h6>We offer <strong>smart analytics</strong> that gives feedback on essential activity. The analytics will stream in, so sit back and enjoy the information flow.</h6>						
			</div>
			<div class="large-6 columns"><br/><br/>
					<img src="/static/img/intro-pic2.png"/>
			</div>
		</div>
	</div>
	<div class="landingorange">
		<div class="row">
			<div class="large-7 columns"><br/>
				<img src="/static/img/intro-pic3.png"/>
			</div>
			<div class="large-5 columns"><br/>
				<h5><strong>Be in the team you deserve, literally.</strong></h5>
				<h6>Semety offers team creations and invites, <strong>where you can work efficiently</strong> with your team to create and analyze the best functions widespread.</h6>
			</div>
	</div>
	<div class="landingwhite">
		<div class="row">
			<center>
				<h5><em>Some of the famous places you can use us</em></h5><br/><br/>
				<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 frontpagelogos">
					<li><img src="/static/img/home/frontpage/1.png"></li>
					<li><img src="/static/img/home/frontpage/2.png"></li>
					<li><img src="/static/img/home/frontpage/3.png"></li>
					<li><img src="/static/img/home/frontpage/4.jpg"></li>
					<li><img src="/static/img/home/frontpage/5.png"></li>
					<li><img src="/static/img/home/frontpage/6.png"></li>
					<li><img src="/static/img/home/frontpage/7.png"></li>
					<li><img src="/static/img/home/frontpage/8.png"></li>
					<li><img src="/static/img/home/frontpage/9.png"></li>
				</ul><br/><hr/><br/>
				<h6>Our users have already generated <strong>460 functions</strong>, are you ready?</h6><br/><br/>
				<h6>Ohoy there!</h6>

				<a href="/tutorial/" class="secondary button small buttonSelected2 big">Are you still not convinced about Semety?</a>
			</center>
		</div>

	{% endif %}
{% endblock%}
