{% extends "base.html" %}
{% block content %}
	{% if user.is_authenticated  %}
		<div class="row">
			<div class="large-12 columns">
				<h2>Welcome to Semety.</h2>
				<p>The best platform for your website.</p>

				<hr>
				<h4>Your Teams</h4>
				{% for team in teams %}
					{% if team.admin == True %}
						<p><a href="/widgets/polls/team/{{ team.team.id }}">{{ team.team }}</a> -
						 <a href="/team/#panel{{ team.team.id }}">Manage</a></p>
					{% else %}
						<p><a href="/widgets/polls/team/{{ team.team.id }}">{{ team.team }}</a></p>
					{% endif %}
				{% endfor %}				
				<hr>
				<h4>Invites</h4>
				{% for invite in invites %}
				<form action="/team/invitereponse/" method="post">
				{% csrf_token %}
				<input type="hidden" name="invite_id" value="{{ invite.id }}">
				<p>{{ invite.invite_from }} has invited you to <b>{{ invite.team }}</b>
				| <input type="submit" name="accept" value="Accept"> / <input type="submit" name="accept" value="Decline"></a></p>
				</form>
				{% endfor %}
			</div>
		</div>
	{% else %}
	<div id="loginmodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Login</h2>
		<hr>
		<form action="/login/" method="post">
			{% csrf_token %}
			<p><label for="id_username">Username:</label> <input id="id_username" maxlength="254" name="username" type="text"></p>
			<p><label for="id_password">Password:</label> <input id="id_password" name="password" type="password"></p>
			<input type="submit" value="Login" class="small button" / >
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>
	<div id="registermodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
		<h2>Register</h2>
		<hr>
		<form action="/register/" method="post">
            <p><label for="id_username">Username:</label> <input id="id_username" maxlength="30" name="username" type="text">
            <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span></p>
			<p><label for="id_email">Email:</label> <input id="id_email" name="email" type="email"></p>
			<p><label for="id_first_name">First name:</label> <input id="id_first_name" maxlength="30" name="first_name" type="text"></p>
			<p><label for="id_last_name">Last name:</label> <input id="id_last_name" maxlength="30" name="last_name" type="text"></p>
			<p><label for="id_password1">Password:</label> <input id="id_password1" name="password1" type="password"></p>
			<p><label for="id_password2">Password confirmation:</label> <input id="id_password2" name="password2" type="password"> <span class="helptext">Enter the same password as above, for verification.</span></p>
             <input type="submit" value="Register" class="small button">
			{% csrf_token %}
		</form>
	  	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
	</div>

	<div class="landingblue">
		<div class="row">
		<div class="register">
			<a href="#" data-reveal-id="registermodal"><i class="fa fa-user"></i> Register</a>
			<a href="#" data-reveal-id="loginmodal"><i class="fa fa-sign-in"></i> Log in</a>
		</div>
				<center>
					<img src="/static/img/logo2.png"/><br/>
					<h2>Experience the Freedom it Brings.</h2>
					<h3>Bring your web visitors a completely modern and easy way of engaging</h3><br/>
					
					<a href="pages/home.html" class="secondary button small buttonSelected3 big"> Start right now, it's free →</a>
				</center>
		</div>
	</div>
	<div class="landinggreen">
		<div class="row">
			<div class="large-8 columns">
				<div class="poll">
					<div class="pollgrid clearfix">
						<div class="left">
							<h2>Will you use Semety for your advantage?</h2>
						</div>
					<div class="right">
							<h2 style="text-align:right;"><i class="fa fa-bar-chart"></i></h2>
					</div>
					<div class="clearfix"></div>
											
					<a href="#">
						<div class="polloption">
							<h3>Yes, this sounds very interesting!</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
							<h3>No, I don't have any use for this yet.</h3>
						</div>
					</a>
					<a href="#">
						<div class="polloption">
								<h3>I don't have any opinion, I just came to check it out.</h3>
						</div>
					</a>
											
					<div class="pollfooter">
						<a href=""><small>Powered by Semety 2015</small></a>
					</div>
				</div>
			</div>
			</div>
			<div class="large-4 columns">
				<h5>Semety brings functionality for all your visitors and fans.</h5><br/>
				<h6>And it's so incredibly easy to generate them through our website.</h6>
			</div>
		</div>
	</div>
	<div class="landingpurple">
		<div class="row">
			<div class="large-6 columns">
			<h5>Brand New Technology, for Both Individuals and Businesses.</h5>
			<h6>We offer smart analytics that gives feedback on essential activity, quality content, SEO and <a href="#">more processes</a>.</h6>
			</div>
			<div class="large-6 columns"><br/>
				
			</div>
		</div>
	</div>
	<div class="landingdark">
		<div class="row">
			<div class="large-7 columns">
				
			</div>
			<div class="large-5 columns"><br/>
				<h5>Be in the team you deserve, literally.</h5>
				<h6>Semety offers team creations and invites, where you can work efficiently with your team to create and analyze the best functions widespread.</h6>
			</div>
		</div>
	</div>
	<div class="landingorange">
		<div class="row">
			<div class="large-6 columns">
				<h5>Monetize your blog or website better, or bring fun to social networks.</h5>
				<h6>Semety will always have your back and let you choose everything you'd ever want to have, <a href="#">just read our success stories</a> and see for yourself.</h6>
			</div>
			<div class="large-6 columns"><br/>
			
			</div>
		</div>
	</div>
	<div class="landingwhite">
		<div class="row">
			<center>
				<h5>Some of the places you can use us</h5><br/><br/>
				<ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-6 frontpagelogos">
					<li><img src="/static/img/home/frontpage/1.png"></li>
					<li><img src="/static/img/home/frontpage/2.png"></li>
					<li><img src="/static/img/home/frontpage/3.png"></li>
					<li><img src="/static/img/home/frontpage/4.png"></li>
					<li><img src="/static/img/home/frontpage/5.png"></li>
					<li><img src="/static/img/home/frontpage/6.png"></li>				
				</ul><br/><hr/><br/>
				<h6>Our users have already generated <strong>460 functions</strong>, are you ready?</h6><br/><br/>
				
				<a href="#" class="secondary button small buttonSelected2 big">Want to read more?</a>
			</center>
		</div>
				
	{% endif %}
{% endblock%}
