<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../css/foundation.css" />
	<link rel="icon" type="image/png" href="img/favicon.png" />
    <script src="../js/vendor/modernizr.js"></script>

  </head>
  <body>
	<div class="header">
		<div class="row">
			<div class="large-12 columns">
				<a href="/"><img class="logo" src="../img/logo.png"></a>       
				<ul class="right">
				<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
				<li><a href="/team/">Team</a></li>
				<li><a href="/profile/">Profile</a></li>
				<li><a href="/logout/">Log out</a></li>
				</ul>
			 </div> 
		 </div>  
	</div>
	<hr class="invisible">
	<div class="row">
		<div class="panel">
			<h4><strong>Keyword Activity Information</strong></h4>
			<p>Our Keyword Acitivty represents an essential part of our analytics that are generated through statistics, where your Keyword Activity represents search engine like behaviour which fetches information through the functions we offer.</p>
			<p>We have made it as simple as possible to understand our Keyword Activity, so that you'll be able to use the report in order to establish a better view of what your visitors seems to be drawn too. By this you might see greatly increase 
			   in your visitor traffic, which can help with your monetizing and make you understand another perspective of your visitors.</p>
			 <hr/>
			 <h4>Keyword Measurements</h4>
			   <p>As the Keyword Activity keeps ticking in through the functions you've generated, we will be measuring the seriousness and deceptive information we gather from it in order to keep you away from false information.</p>
			   <p>So as the Keyword Activity on your page is displayed it will already be sorted through our <a href="#">databases</a> to generate useful information out from your functions. We will then sort them into boxes on how big they are
 			      portraying in your Keyword Activity dashboard, by this we gently mean that a box with a worth of 100 interesting keywords will go beneath a box with 200 in your dashboard, but you will still see them all as long as they are useful.</p>
			<hr/>
			<h4>Keyword Symbols</h4>
			<p>Beneath this field you'll find our set of icons we use in order to have a better front-end experience for the viewer that are using the analytics. Furthermore, some of the icons that are used may refer to double-entendre such as the difference
               between a book and a movie, this example might have the same icon under a category branch in entertainment.</p>
			   
			   <div class="row collapse">
				<div class="small-10 columns">
				  <input type="text" placeholder="Search for an icon or it's value...">
				</div>
				<div class="small-2 columns">
				  <a href="#" class="button postfix">Search</a>
				</div>
			  </div>
			   
			   <hr><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Facebook</strong> Icon shows interest in social media connected to Facebook.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-facebook-official"></i></div>
			   </div><br/>
				<div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Twitter</strong> Icon shows interest in social media connected to Twitter.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-twitter-square"></i></div>
			    </div><br/>
				<div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Google+</strong> Icon shows interest in social media connected to Google+.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-google-plus-square"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Share</strong> Icon shows interest in social media connected to a wide variety.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-share-square"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Globe</strong> Icon shows interest in travel and country associations.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-globe"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Computer</strong> Icon shows interest in hardware, software and general computing.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-desktop"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Car</strong> Icon shows interest in motors and vehicles.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-car"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Cutlery</strong> Icon shows interest in food, cutlery and dinning.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-cutlery"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Diamond</strong> Icon shows interest in jewelry and expensive topics.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-diamond"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Flask</strong> Icon shows interest in science and chemistry.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-flask"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Magic Wand</strong> Icon shows interest in magic and delusions.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-magic"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Gavel</strong> Icon shows interest in politics, law and order.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-gavel"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>University</strong> Icon shows interest in education and information.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-university"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Gamepad</strong> Icon shows interest in gaming on all consoles.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-gamepad"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Animal Paw</strong> Icon shows interest in animals and hunting.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-paw"></i></div>
			   </div><br/>
			   <div class="row analyticsicons">
				  <div class="small-10 small-push-2 columns"><strong>Money</strong> Icon shows interest in businesses, money and economics.</div>
				  <div class="small-2 small-pull-10 columns"><i class="fa fa-money"></i></div>
			   </div><br/>
				<br/>
		</div>
	</div>
    <br/>
    <script src="../js/vendor/jquery.js"></script>
    <script src="../js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
