{% extends 'base.html' %}
{% block content %}
<div id="passwordmodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Change Your Password.</h2>
    <hr>
    <label>Your Current Password:</label>
    <input type="password">
    <label>Your New Password:</label>
    <input type="password">
    <label>Confirm New Password:</label>
    <input type="password">
    <p><a href="#">Forgot your password?</a></p>
    <p><a href="#" class="button bluebutton tiny">Change Password</a></p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="emailmodal" class="reveal-modal medium" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="large-12 columns">
      <h2 id="modalTitle">Email Preferences.</h2><hr>
      <h4><label>Your current email address:</label> <b>{{ user.email }}</b></h4>
      <hr>
  </div>
  <div class="large-6 columns">
      <h4>Update Email Address</h4>
      <hr>
      <label>Attach New email:</label>
      <input type="text" placeholder="example@gmail.com">
      <label>Confirm New email:</label>
      <input type="text" placeholder="example@gmail.com"><br/><br/>
      <a href="#" class="button bluebutton tiny">Update Email</a>
  </div>
  <div class="large-6 columns">
    <div class="panel sutle">
        <h4>Email Notifications</h4>
        <hr>
        <form>
            <ul class="email-checkboxes">
            {% if EmailNotification %}
                {% for email in EmailNotification %}
                    <li><input type="checkbox" value="x" checked><label>{{ email }}</label></li><hr>
                {% endfor %}
            {% else %}
                <li><input type="checkbox" value="x" checked><label>If we release a newsletter.</label></li><hr>
                <li><input type="checkbox" value="x"><label>When there are <a href="#">new updates</a>.</label></li><hr>
                <li><input type="checkbox" value="x" checked><label>If our <a href="#">terms and conditions</a> change.</label></li><hr>
                <li><input type="checkbox" value="x" checked><label>Information on Pro Publisher.</label></li><hr>
                <li><input type="checkbox" value="x"><label>If your account need renewing.</label></li>
            {% endif %}
            </ul>
        </form>
    </div>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>
<div id="deactivatemodal" class="reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
    <h2 id="modalTitle">Deactivate your account.</h2>
    <hr>
    <p>You can <a href="#">deactivate your account</a>, but we'd really like to have you here.</p>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<br>
<div class="row">
    <div class="large-12 columns">
        <div class="whitebackground left100 simple">
            <div class="left">
                <h3>PROFILE</h3>
            </div>
            <div class="right">
                <a href="#" class="buttonSelected2 button small">Become a Pro Publisher!</a>
            </div>
        </div>
    </div>
    <div class="large-12 columns">
        <div class="whitebackground profilemain underlinep">
            <div class="large-12 columns">
                <h5 class="left">Your Profile Information.</h5>
                <a href="#" alt="Configurate" class="right"><i class="fa fa-cog"></i></a>
            </div>
            <br>
            <br>
            <div class="large-6 columns">
                <p>Username:</p>
                <p>Email:</p>
                <p>Full Name:</p>
                <p>Balance:</p>
                <p>API Token</p>
            </div>
            <div class="large-6 columns">
                <p>{{ user.username|title }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.first_name }} {{ user.last_name }}</p>
                <p>£{{ user.userprofile.balance }}</p>
                <p>x03f3033fkadqw</p>
                <br>
            </div>
        </div>
        <br/>
        <div class="whitebackground left100">        
            <div class="row">
                <div class="large-4 columns">
                    <label>
                        <a href="#" data-reveal-id="emailmodal" class="button small PasswordButton">Email Preferences</a>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        <a href="#" data-reveal-id="passwordmodal" class="button small PasswordButton">Change Password</a>
                    </label>
                </div>
                <div class="large-4 columns">
                    <label>
                        <a href="#" data-reveal-id="deactivatemodal" class="button small PasswordButton Dull">Dactivate Account</a>
                    </label>
                </div>
            </div>
        </div>
		<div class="whitebackground profilemain">
            <div class="large-12 columns">
                <h5>For Maximum Protection, We Encourage.</h5>
                <p>For optional security and recovery settings, we encourage social network assignation.</p>
				 <div class="whitebackground left100">
				 <hr/>
					<p class="left"> <img class="logo" src="/static/img/home/icons/google_profile.png"/></p>
					<p class="right">You don't have Google Plus assigned, <a href="#">do it here</a>.</p>
				<hr/>
				</div>
			<hr class="invisible"/>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %} 