{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="large-4 columns">
		<div class="widgetbox clearfix">
			<h5>Create and manage Polls</h5>
			<p>Create your own polls and have them easily attached to your or another ones website or blog, choose your theme, upload your pictures and manage everything directly how you want it. You can even choose between live picture feeding or the widget itself!</p>
			<a href="/widgets/polls/"><div class="widgetpagenext clearfix">
				<div class="left">
					<p>START NOW</p>
				</div>
				<div class="right">
				<p>→</p>
				</div>
			</div></a>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="widgetbox clearfix">
		<h5>Coming soon!</h5>
			<p>Create your own polls and have them easily attached to your or another ones website or blog, choose your theme, upload your pictures and manage everything directly how you want it. You can even choose between live picture feeding or the widget itself!</p>
			<a href="/widgets/polls/"><div class="widgetpagenext clearfix">
				<div class="left">
					<p>START NOW</p>
				</div>
				<div class="right">
				<p>→</p>
				</div>
			</div></a>
		</div>
	</div>
	<div class="large-4 columns">
		<div class="widgetbox clearfix">
		
		</div>
	</div>
</div>
{% endblock %}