{% extends 'base.html' %}
{% block content %}
<br>z
<div class="row">
      <div class="large-12 columns panel registerleft"><br/>
	  <div class="loginbox marginauto">
<center><a href="/"><img src="/static/img/logo.png"/></a></center>
        <hr>
        <form action="/login/" method="post">
            <input type='hidden' name='csrfmiddlewaretoken' value='wyW155812Kwk1FUXaCwwYYpzLIStpL69' />
            <p><input id="id_username" maxlength="254" name="username" type="text" placeholder="Username or E-mail..." /></p>
<p><input id="id_password" name="password" type="password" placeholder="Enter your password.." /></p>
             <input type="submit" value="Login to the site" class="button buttonregister">
        </form>
		<center><p><a href="/register/">Register</a> or go back to <a href="/"> main page</a></p></center>
    </div>
</div>

{% endblock %}
