{% extends "base.html" %}

{% block content %}


		<div class="row">
			<div class="userportal">
				<div class="panel left">
					<div class="large-4 columns">
					<h2>CREATE POLLS</h2>
						<p>Create your own polls and have them easily attached to your or another ones website or blog, choose your theme, upload your pictures and manage everything directly how you want it. You can even choose between live picture feeding or the widget itself!</p>
					</div>
					<div class="large-4 columns">
					<h2>MANAGE POLLS</h2>
						<p>Change your poll themes, delete polls or set up modifications that will have impact on you and your community. In this section you'll be able to do everything you should in order to get the most out of everything.</p>
					</div>
					<div class="large-4 columns">
					<h2>YOUR ANALYTICS</h2>
						<p>Be the businessperson you deserve, have full control over your analytics from our widget. Score extra insight that has a lot of value for your market, blog or website in general. Our analytics gives you great insight into improvement.</p>
					</div>

					<div class="large-4 columns"><a href="/widgets/polls/create/" class="secondary button small buttonSelected2">START OUT →</a></div>
					<div class="large-4 columns"><a href="/widgets/polls/manage/" class="secondary button small" ><i class="fa fa-folder"></i> MANAGE POLLS</a></div>
					<div class="large-4 columns"><a href="/widgets/polls/analytics/" class="secondary button small" ><i class="fa fa-bar-chart"></i> CHECK ANALYTICS</a></div>
				</div>
			</div>
		</div>		
		<div class="row">
			<div class="panel learnmore"><br/>
				<div class="left"><h2>Interested in learning more about what you can use this for?</h2></div>
				<div class="right"><a href="create.html" class="right secondary button small learnmoreButton">LEARN MORE →</a></div>
			</div>
		</div>
{% endblock content %}