{% extends "base.html" %}

{% block content %}
			<div class="row">
			<h1><b>Polls</b> Manage.</h1>
				<div class="panel">
					<div class="manage">
							{% for poll in poll_list %}
							
							<div class="large-4 columns Pollname">
								<h3>{{ poll.title }}</h3>
								<p><img class="themes NoSelectedTheme" src="/static/img/water.jpg"></p>
								<p>
									<a href="#"><i class="fa fa-share-alt"></i> Share</a> |  
									<a href="/widgets/polls/manage/{{ poll.id }}"><i class="fa fa-cog"></i> Edit</a> 
								</p>
							</div>
							{% endfor %}
						<div class="clearfix"></div>
					</div>
				</div>
			</div>			
{% endblock %}