{% extends "base.html" %}

{% block content %}

<form action="" method="post">
<div class="row">
	<div class="large-12 columns">
	<div class="panel simple left100">
	<div class="left">
	<h3 class="marginbig">Create your own Poll</h3>
	</div>
	<div class="right">
	<button type="reset" class="secondary button small buttonClear right" value="Reset"><i class="fa fa-times-circle"></i> CLEAR POLL</button>
	</div>
	</div>
	</div>
	<div class="large-12 columns">
		<div class="panel">
			{% csrf_token %} 
			<label>
				<h4><strong>1.</strong> Create a Poll Name</h4>
			</label>
			<input id="id_title" maxlength="200" name="title" type="text" placeholder="Your Poll name will not be visible for anyone else than you (Maximum of 21 characters)">

			<label>
				<h4><strong>2.</strong> Add a Poll Question</h4>
			</label>
			<input id="id_question" maxlength="200" name="question" type="text" placeholder="Choose the question you want to ask everyone">
			
			<label>
				<h4><strong>2.</strong> Choose Team</h4>
			</label>
			{{ form.team }}
			<label>
				<h4><strong>4.</strong>URL to image</h4>
			</label>
			<input type="text" name="image" placeholder="Paste in image URL">

			<label>
				<h4><strong>5.</strong> Enter some questions</h4>
			</label>
			<div class="row">
				<div class="large-4 columns">
					<input type="text" name="choice1" placeholder="Poll question #1">
				</div>
				<div class="large-4 columns">
					<input type="text" name="choice2" placeholder="Poll question #2">
				</div>
				<div class="large-4 columns">
					<input type="text" name="choice3" placeholder="Poll question #3">
				</div>
				<div class="left large-4 columns">
					<a href="create.html" class="secondary button tiny NoBorder"><i class="fa fa-plus"></i> ADD MORE QUESTIONS</a>
				</div>
			</div>
			<hr>

									<div class="poll">
										<div class="pollgrid clearfix">
											<div class="left">
												<h2>Will you use Semety for your advantage?</h2>
											</div>
											<div class="right">
												<h2 style="text-align:right;"><i class="fa fa-bar-chart"></i></h2>
											</div>
											<div class="clearfix"></div>
											
											<a href="#">
												<div class="polloption">
												<h3>Yes, this sounds very interesting!</h3>
												</div>
											</a>
											<a href="#">
												<div class="polloption">
												<h3>No, I don't have any use for this yet.</h3>
												</div>
											</a>
											<a href="#">
												<div class="polloption">
												<h3>I don't have any opinion, I just came to check it out.</h3>
												</div>
											</a>
											
											<div class="pollfooter">
												<a href=""><small>Powered by Semety 2015</small></a>
											</div>
										</div>
								</div>
			
			<hr><br/>
			<center>
				<h3>Are you ready for more power?</h3><br/>
				<input type="submit" value="GENERATE THE WIDGET" class="button small buttonSelected2">
			</center><br/>
		</div>
	</div>
</div><br/><br/>
</form>
{% endblock %}