{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="userportal">
		<div class="panel">
			<form action="" method="post">
			<div class="clearfix">
			<a class="secondary button small buttonSelected left" href="#"><i class="fa fa-cogs"></i> WIDGET POLL</a>
			<button type="reset" class="secondary button small buttonClear right" value="Reset"><i class="fa fa-times-circle"></i> CLEAR POLL</button>
		</div>
			<br>			
			{% csrf_token %} 
			<label>
				<h4><strong>1.</strong> Create a Poll Name</h4>
			</label>
			<input id="id_title" maxlength="200" name="title" type="text" placeholder="Your Poll name will not be visible for anyone else than you (Maximum of 21 characters)">

			<label>
				<h4><strong>2.</strong> Add a Poll Question</h4>
			</label>
			<input id="id_question" maxlength="200" name="question" type="text" placeholder="Choose the question you want to ask everyone">
			
			
			<label>
				<h4><strong>3.</strong> Choose a theme or upload</h4>
			</label>
			<input type="text" placeholder="Not in use yet.">

			<label>
				<h4><strong>4.</strong> Enter some questions</h4>
			</label>
			<div class="row">
				<div class="large-4 columns">
					<input type="text" name="choice1" placeholder="Poll question #1">
				</div>
				<div class="large-4 columns">
					<input type="text" placeholder="Poll question #2">
				</div>
				<div class="large-4 columns">
					<input type="text" placeholder="Poll question #3">
				</div>
				<div class="left large-4 columns">
					<a href="create.html" class="secondary button tiny NoBorder"><i class="fa fa-plus"></i> ADD MORE QUESTIONS</a>
				</div>
			</div>

			<center>
				<h4>Are you ready for more power?</h4><br/>
				<input type="submit" value="GENERATE THE WIDGET" class="secondary button small buttonSelected2">
			</center>
			</form>
			<br><br/>
		</div>
	</div><br/>
</div>

{% endblock %}