{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
<div class="row">
		<div class="large-12 columns">
		<div class="panel simple">
		<h1>Edit Poll</h1>
		</div>
		<div class="userportal">
			<div class="panel">
			<div class="bluebackground">
					<div class="managepollsection clearfix">
					<div class="left">
						<h4>Name <span class="marked"><p> {{ poll.title }} </p></span>  Question asked <span class="marked"><p> {{ poll.question }} </p></span></h4>
					</div>
					<div class="right">
						<a href="#"><h4> <i class="fa fa-cog" style="margin-right:15px;"></i></h4></a><a href="#"><h4> <i class="fa fa-trash-o" style="margin-right:5px;"></i></h4></a>
					</div>
					</div>
			</div>
				<br/>
				<div class="row">
					<div class="large-4 columns">
					<p>MODIFICATIONS</p>
						<a href="help/" class="secondary button NoBorder widthbutton"> <i class="fa fa-code"></i> Embed HTML Widget </a><br/>
						<a href="help/" class="secondary button NoBorder widthbutton"> <i class="fa fa-picture-o"></i> Live Picture Feed </a><br/>
						<a href="help/" class="secondary button NoBorder widthbutton"> <i class="fa fa-paint-brush"></i> Change your Layout </a><br/>
					</div>
					<div class="large-4 columns">
					<p>LAYOUT</p>
					<a href="/"><img class="logo" src="/static/img/water.jpg"></a>
					</div>
					<div class="large-4 columns">
					MORE COMING
					</div>
				</div>
			</div>
		</div>
</div>
{% else %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="http://localhost:8000/static/css/polls.css" />
<style type="text/css">
    body {
            background: rgba(0, 0, 0, 0.89);
    }

    #poll {
            margin: auto;
    max-width: 600px;
    margin-top: 10%;
    }

</style>
<div id="poll"></div>
<script src="http://localhost:8000/api/widgets/polls/{{ poll.id }}.js"></script>

{% endif %}
{% endblock content %}
				<!--
					<a href="#" class="secondary button small"><i class="fa fa-info-circle"></i> MORE INFORMATION</a>
					<a href="#" class="secondary button small"><i class="fa fa-university"></i> WATCH TUTORIALS</a>
				-->
