{% extends "base.html" %}

{% block content %}

{% if checker %}
<br>
<div class="row">
    <div class="large-12 columns">
        <div class="whitebackground left100">
            <div class="left">
                <h3>POLL</h3>
            </div>
            <div class="right">
                <a href="#" class="buttonSelected2 button small">Edit</a>
            </div>
        </div>
    </div>
	<div class="large-12 columns">
		<div class="bluebackground left100 marked">
			<div class="large-10 columns">
					<h4>Name: <span>{{ poll.title }}</span></h4>
					<h4>Question asked: <span>{{ poll.question }}</span></h4>
			</div>
			<div class="large-2 columns">
				<div class="right icons">
					<a href="#"><h4><i class="fa fa-cog"></i></h4></a>
					<a href="#"><h4><i class="fa fa-trash-o"></i></h4></a>
				</div>
			</div>
		</div>
	</div>
</div>
			
	<div class="row">
		<div class="large-12 columns">
			<div class="white">
				<h4>MODIFY</h4>
			</div>
			<div class="grey-round-buttons left100">
				<a href="help/"> <i class="fa fa-code"></i> Embed HTML Widget </a>
				<a href="help/"> <i class="fa fa-picture-o"></i> Live Picture Feed </a>
				<a href="help/"> <i class="fa fa-paint-brush"></i> Change your Layout </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="profilemain white">
				<center>
					<h3>Statistics</h3>
					<div class="large-3 columns">
						<label>Total Votes</label>
						<h4>2,333</h4>
					</div>
					<div class="large-3 columns">
						<label>Views Count</label>
						<h4>6,253</h4>
					</div>
					<div class="large-3 columns">
						<label>Shares</label>
						<h4>1,201</h4>
					</div>
					<div class="large-3 columns">
						<label>Engagements</label>
						<h4>103</h4>
					</div>	
				</center>
			</div>
		</div>
	</div>
{% else %}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<link rel="stylesheet" href="/static/css/polls.css" />
<style type="text/css">
    body {
            background: rgba(0, 0, 0, 0.89);
    }

    #poll {
            margin: auto;
    max-width: 600px;
    margin-top: 10%;
    }

</style>
<div id="poll"></div>
<script src="/api/widgets/polls/{{ poll.id }}.js"></script>

{% endif %}
{% endblock content %}
				<!--
					<a href="#" class="secondary button small"><i class="fa fa-info-circle"></i> MORE INFORMATION</a>
					<a href="#" class="secondary button small"><i class="fa fa-university"></i> WATCH TUTORIALS</a>
				-->
