{% extends 'base.html' %}

{% block content %}
	<br>
	<div class="row">
	<div class="large-12 columns">
	<div class="whitebackground left100 simple">
	<h3>TEAMS</h3>
	</div>
	<div class="whitebackground profilemain">
			<p>Create, delete and manage your teams.</p>
	</div>
	</div>

	<div class="large-12 columns">
		<ul class="team-list">
			{% for team in team_list %}
			  <li class="accordion-navigation">
			    <h4 href="#panel{{ team.id}}">{{ team.name }} <a href="#">Edit</a></h4>
			    <div id="panel{{ team.id}}" class="content">
				<ul class="team-page">
				{% for person in team.teammate_set.all %}
				<li>
				<img src="/media/{{ person.user.userprofile.profile_picture }}">
				<p>	{{ person.user.first_name }} {{ person.user.last_name }}</p>

				</li>

				{% endfor %}
				<li><a href="invite/">+ Invite Users</a></li>
                <li><a href="/widgets/polls/team/{{ team.id }}">View Team page</a></li>
				</ul>
				
			    </div>
			  </li>
			{% endfor %}

			<a href="create/">Create Team</a>
		</ul>
	</div>

	</div>
{% endblock %}
