{% extends 'base.html' %}

{% block content %}
	<br>
	<div class="row">
	<div class="large-12 columns">
	<div class="whitebackground left100 simple">
        <div class="left">
            <h3>TEAMS</h3>
        </div>
        <div class="right">
            <a href="/team/create/" class="buttonSelected2 button small">Create Team</a>
        </div>
	</div>
	<div class="whitebackground profilemain nobb">
			<p>Create, delete and manage your teams.</p>
	</div>
	</div>

	<div class="large-12 columns">
		<ul class="team-list">
			{% for team in team_list %}
			  <li class="team-header">
		        <div class="left">
		            <h4>{{ team.name }}</h4>
		        </div>
		        <div class="right team-buttons">
				    <a href="invite/"><i class="fa fa-plus"></i> Invite</a>
		            <a href="/team/{{ team.id }}"><i class="fa fa-eye"></i> Team Page</a> 
					<a href="#"><i class="fa fa-pencil"></i> Edit</a> 
		        </div>

	          </li>
	          <li class="team-divider">

				<ul class="team-page">
					{% for person in team.teammate_set.all %}
					<li>
					<img src="/media/{{ person.user.userprofile.profile_picture }}">
					<p>	{{ person.user.first_name }} {{ person.user.last_name }}</p>
					</li>
					{% endfor %}
				</ul>
			  </li>
			{% endfor %}

			
		</ul>
	</div>

	</div>
{% endblock %}
