@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);

body {
	background: #FFF;
    overflow-y: scroll;
}

.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: absolute;
  z-index: -1;
}

.video video {
  min-width: 100%;
  transition: 1s opacity;
  float: left;
  z-index: -1;
  min-height: 100%;
}

.top-header {
	float: left;
	height: 100%;
	width: 100%;
	text-align: center;
}

.top-header h1, .top-header h2 {
  color: #FFF;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;

}

.red {
	background-color: #cb2028;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	margin: 5% 0;
}

.blue {
	background-color: #4b69b6;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	  margin: 5% 0;
}

.social {
  margin: auto;
  height: 50px;
  width: 150px;
}
.social li {
	list-style: none;
	float: left;
	margin:auto;
	margin:5px;
	width: 40px;
}

.logo {
	width: 150px;
	margin:80px 0;
}

.register {
	width: 100%;
	text-align: right;
	margin-top: 20px;

}

.register a {
	  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 1px #000;
}

.register img {
	  width: 18px;
  margin: 5px;
  margin-top: -1px;
}
.section-title {
  color: #777;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: .9em;
  margin-top: 50px;
}

p.section-title:after {
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  width: 70px;
  height: 1px;
  background: #1f6380;
  content: "";
  margin-bottom: 30px;
}

#newsletter {
	width: 100%;
	background-color: #1f6380;
	padding: 60px 0;
	text-align: center;
}

#newsletter h1 {
	color:#FFF;
	font-family: 'Raleway', sans-serif !important;
}

.section h2 {
  font-weight: bold;
  color: #1f6380;
}

