@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@import url('/static/css/font-awesome.min.css');
@import url('/static/css/font-awesome.css');
* { transition: all 0.2s ease !important; }
body {
  background: #FFF;
    overflow-y: scroll;
}
.whitebackground p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  float: left;
  position: absolute;
  z-index: -1;
}

.video video {
  min-width: 100%;
  transition: 1s opacity;
  float: left;
  z-index: -1;
  min-height: 100%;
}

.top-header {
  float: left;
  height: 100%;
  width: 100%;
  text-align: center;
}

.top-header h1, .top-header h2 {
  color: #FFF;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;

}

.red {
  background-color: #cb2028;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
  margin: 5% 0;
}

.blue {
  background-color: #4b69b6;
  -moz-border-radius: 28px;
  -webkit-border-radius: 28px;
  border-radius: 28px;
    margin: 5% 0;
}

.social {
  margin: auto;
  height: 50px;
  width: 150px;
}
.social li {
  list-style: none;
  float: left;
  margin:auto;
  margin:5px;
  width: 40px;
  margin-top: 125px;
}

.logo {
  width: 350px;
  margin:80px 0;
}

.register {
  width: 100%;
  text-align: right;
  margin-top: 20px;

}

.register a {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: none !important;
  margin-right: 10px;
}
.register a:Hover {
	opacity: 0.8;
}
.register img {
    width: 18px;
  margin: 5px;
  margin-top: -1px;
}
.section-title {
  color: #777;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: .9em;
  margin-top: 50px;
}

p.section-title:after {
  display: block;
  margin: 0 auto;
  margin-top: 17px;
  width: 70px;
  height: 1px;
  background: #1f6380;
  content: "";
  margin-bottom: 30px;
}

#newsletter {
  width: 100%;
  background-color: #1f6380;
  padding: 60px 0;
  text-align: center;
  background-image: url("../img/overlay.jpg");
}

#newsletter h1 {
  color:#FFF;
  font-family: 'Raleway', sans-serif !important;
}

.section h2 {
  font-weight: bold;
  color: #1f6380;
}
.greybackground {
  width: 100%;
  background: #e5e5e5;
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
 }
 .buttonSelected3 {
  color: #fff!important;
  background-color: rgb(51, 96, 163) !important;
  border-color: #fff!important;
}
.buttonSelected3:hover {
  color: rgb(51, 96, 163)!important;
  background-color: #fff !important;
  border-color: rgb(51, 96, 163)!important;
}
.buttonSelected2 {
  background-color: rgb(51, 96, 163) !important;
  color: #fff !important;
}
.buttonSelected2:hover {
  color: #1f6380 !important;
  background-color: #fff !important;
}
.big {
  font-size: large !important;
}
.secondary.small.button {
  background-color: transparent;
  color: #1f6380;
  border: 2px #1f6380 solid;
  padding: 15px 50px 15px 50px;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
}
#landing {
  margin-bottom: 50px;
}
#landing h1 {
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif !important;
}
#landing h2 {
  color: #fff;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;
  font-size: x-large;
  font-family: 'Source Sans Pro', sans-serif !important;
}
.poll {
  width: 100%;
  min-height: 100px;
  background-image: url('../img/water.jpg');
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pollgrid {
  margin: 0 20px;
  padding-top: 20px;
}
.poll h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: x-large;
}
.polloption {
  margin: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif !important;
  margin-bottom: 20px;
}
.polloption:hover {
  background: rgba(0, 0, 0, 0.7);
}
.polloption h3 {
  color: #fff;
  text-align: left;
  padding: 10px;
  text-shadow: 1px 1px 1px #000;
  font-size: large;
}
.pollfooter {
  margin-top: 100px;
  width: 100%;
  text-align: right;
}
.pollfooter a {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.pollfooter a:hover {
  text-decoration: underline;
}
span {
  color: #333;
}
.fa {
  margin-right: 5px;
}
.landingblue {
	background-image:url('../img/intro-bg.jpg');
	width: 100%;
	padding: 0px 0px 70px 0px;
}
.register {
	width: 100%;
	text-align: right;
	padding: 15px 0px 120px 0px;
}

.register a {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
  font-size: 18px;
  text-shadow: none !important;
}
.landingblue h2, .landingblue h3 {
	color: #fff !important;
	font-family: 'Raleway', sans-serif !important;
	font-weight: 300;
}
.landinggreen {
	background-color: #f8f8f8;
	width: 100%;
	padding: 100px 0px 100px 0px;
}
.landinggreen h5 {
	font-weight: 200;
    font-size: 45px;
    color: #333;
}
.landinggreen h6{
    font-size: 30px !important;
    line-height: 1.25 !important;
    font-weight: 200 !important;
	color: #333;
}
.landingpurple {
	
	border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
	width: 100%;
	padding: 100px 0px 100px 0px;
}
.landingpurple  h5 {
	font-weight: 200;
    font-size: 45px;
    color: #333;
}
.landingpurple  h6{
    font-size: 30px !important;
    line-height: 1.25 !important;
    font-weight: 200 !important;
	color: #333;
}
.landingpurple a {
	color: #333;
	border-bottom: 1px dotted #333;
}
.landingpurple a:hover {
	color:#000;
}
.landingorange {
	border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
	width: 100%;
	padding: 100px 0px 100px 0px;
}
.landingorange   h5 {
	font-weight: 200;
    font-size: 45px;
    color: #333;
}
.landingorange   h6{
    font-size: 30px !important;
    line-height: 1.25 !important;
    font-weight: 200 !important;
	color: #333;
}
.landingorange a {
	color: #333;
	border-bottom: 1px dotted #333;
}
.landingwhite {
	background: #fff;
	width: 100%;
	padding: 100px 0px 100px 0px;
}
.landingwhite   h5 {
	font-weight: 200;
    font-size: 45px;
    color: rgb(51, 96, 163);
}
.landingwhite  h6{
    font-size: 30px !important;
    line-height: 1.25 !important;
    font-weight: 200 !important;
  color: rgb(51, 96, 163);
}
.landingdark {
	border-top: 1px solid #e7e7e7;
	    background-color: #f8f8f8;
  width: 100%;
  padding: 100px 0px 100px 0px;
}
.landingdark   h5 {
  font-weight: 200;
    font-size: 45px;
    color: #333;
}
.landingdark  h6{
    font-size: 30px !important;
    line-height: 1.25 !important;
    font-weight: 200 !important;
  color: #333;
}
.registerbox{
  width: 100%;
  height: 871px;
  padding: 0px !important;
  background-image: url('../img/norway.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    float: right;
    position: fixed;
    right: 0;
    top: 0;
    width: 30%;
    height: 100%;
}

.registerleft {
    background: none;
    border: none;
}

.registerbox h4 {
  padding: 100px 50px 0px 50px;
  font-size: xx-largE;
  margin: 0px;
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold;
}
.registerbox h3 {
  color: #fff;
  padding: 0px 50px 50px 50px;
  font-family: 'Raleway', sans-serif !important;
}
.registerbox h5{
  color: #fff;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 300;
    font-size: 1.25rem;
  text-shadow: 1px 1px 1px #000;
  padding: 0px 10px 20px 50px;
}
.yellow {
  color: #f0c55d;
}
.nopadding {
  padding: 0px !important;
}
.registerlogo {
  width: 150px;
  margin-bottom: 25px;
}
.registerleft h1{
  font-weight: 300;
  font-family: 'Raleway', sans-serif !important;
  color: rgb(51, 96, 163);
  padding-top: 20px;
}
.registerleft p {
  font-family: 'Raleway', sans-serif !important;
}
a.btn-connect-option.facebook {
    background: #3b5998 url(../img/btn-connect-option.png) no-repeat;
    margin-right: 20px;
}
a.btn-connect-option {
    display: block;
    font-size: 20px;
    font-weight: 700;
    background-color: #2D72D9;
    color: #fff;
    width: 219px;
    height: 60px;
    line-height: 28px;
    text-align: center;
    padding: 15px 15px 15px 60px;
    border-radius: 3px;
    float: left;
  margin-bottom: 20px;
}
a.btn-connect-option:hover {
  opacity: 0.8;
}
a.btn-connect-option.google-plus {
    background: #DC4D28 url(../img/btn-connect-option.png) no-repeat 0 -60px;
}
section#signup .social-signup {
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    margin-bottom: 20px;
}
.registerform input {
  border-radius: 5px;
  padding: 20px;
  font-family: 'Raleway', sans-serif !important;
}
.buttonregister {
  width: 100%;
  background-color: rgb(51, 96, 163);
}
aside {
  float: right;
}
.registerboxfooter {
  margin-top: 250px;
  margin-lefT: 20px;
}
.registerboxfooter h1 {
  color: #fff;
  display:inline-block;
}
.registerboxfooter h2 {
  color: #fff;
  display:inline-block;
  font-size: 1rem;
}
.registerboxfooter .right h2 {
  margin-right: 20px;
  margin-top: 25px;
}
.registerboxfooter .right h2 a {
  color: #fff;
}
.registerboxfooter .right h2 a:Hover {
  text-decoration: underline;
}
.marginauto {
  margin: auto !important;
}
.loginbox {
  width: 500px;
}
.marginleft20 {
  margin-left: 20px;
}
/* ---- --- -- --- - */

/* form starting stylings ------------------------------- */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    background-color: none !important;
    font-family: none !important;
    border-style: none !important;
    border-width: none !important;
    border-color: none !important;
    box-shadow: none !important;
	border-radius: 0px !Important;
	font-family: 'Raleway', sans-serif !important;
	font-size:18px !important;
	padding: 20px!important;
	display:block !important;
	border:none !important;
	border-bottom:1px solid #757575 !important;
}

.group 			  { 
  position:relative; 
  margin-bottom:55px; 
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px !important;
  font-weight:normal !important;
  position:absolute !important;
  pointer-events:none !important;
  left:0px !important;
  top:10px !important;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px !important;
  font-size:14px !important;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; margin-top: -15px !important; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {5
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
/* ---- --- -- --- - */

.footer {
	margin-bottom: 20px !important;
}
.footer p {
	font-size: 12px !important;
}
.footer a {
	font-size: 12px !important;
	color: rgb(51, 96, 163);
	border-bottom: none !Important;
}
.header {
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  padding: 30px 0 10px 0;
}

.header img {
  width: 150px;
  margin-top: -13px;
}

.header ul li {
  list-style: none;
  float:  left;
}

.header ul li a{
	color: rgb(51, 96, 163);
    margin-left: 30px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
.header ul li a:hover {
	color: #1e87b3;
}
.landingpic {
	margin: 60px 0px 100px 0px !important;
}
.lead {
	    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.youtubebtn{
	width: 145px;
	height: 145px;
}
.youtubebtn:hover {
	opacity: 0.6;
}
#tutorialheader {
    background: #2980b9;
    color: #fff;
    text-align: left;
	padding-bottom: 20px;
}
#tutorialheader h2 {
    color: #fff;
	font-size: 2.7em;
	font-family: 'Raleway', sans-serif !important;
}
.tutorialul {
	list-style: none;
	font-size: large;
}
.tutorialul li {
	padding: 10px 0px 10px 0px;
	font-family: 'Raleway', sans-serif !important;
}
.whitetutorial2 {
    float: left;
    background-color: #f7f7f7;
    width: 25%;
    height: 70px;
    margin-bottom: 50px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.whitetutorial2:Hover {
	background: #dadada;
}
.whitetutorial {
    float: left;
    background-color: #fff;
    width: 75%;
    height: 70px;
    margin-bottom: 50px;
}
.whitetutorial2 h4, .whitetutorial h4 {
	padding: 18px;
	padding-left: 30px;
	font-family: 'Raleway', sans-serif !important;
	font-size: large;
	line-height: 0px !Important;
	margin-top: 18px !Important;
}
.whitetutorial2 h4{
	font-weight: bold;
}
.tutorialimage0 {
	margin: -28px;
	width: 155px;
	height: 155px;
}
.divider {
    display: block;
    background: url(../img/tutorial/spine/divider.png) no-repeat top center;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 124px;
    margin-top: -18px;
    clear: both;
}
.tutorialline{
	background: url(../img/tutorial/spine/line.png) top center;
	height: 3px;
	width: 67%;
	margin: auto;
}
.tutorialup {
	background: url(../img/tutorial/spine/up.png) no-repeat top center;
	width: 33.3333%;
	height: 30px;
	display: inline-block;
}
.tutorialspine h2 {
	font-family: 'Raleway', sans-serif !important; 
	font-size: larger;
}
.whitebackgroundtutorial {
	background-color: #fff;
	padding-bottom: 150px;
}
.whitebackgroundanalytics {
	background-color: #fff;
	padding-bottom: 200px;
}
.divider2 {
    display: block;
    background: url(../img/tutorial/spine/divider2.png) no-repeat top center;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 124px;
    margin-top: -18px;
    clear: both;

}
.tutorialline2{
	background: url(../img/tutorial/spine/line.png) top center;
	height: 3px;
	width: 67%;
	margin: auto;
	margin-top: -8px;
}
.tutorialup2 {
	background: url(../img/tutorial/spine/up2.png) no-repeat top center;
	width: 33.3333%;
	height: 40px;
	display: inline-block;
}
.notransition {
	transition: none !important;
}
.new {
    color: #ee2e3d;
    font-size: small;
    margin-left: 5px;
}
.tutorialborder {
	border:10px solid #f7f7f7 !important;
}
.css3-bounce-effect {
	-webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;
}
.tutorialsocial{
	width: 50px !important;
	height: 50px !important;
	margin-right: 15px;
}
#analytics .panel {
	min-height: 580px;
}	
ul.pagination li.current a, ul.pagination li.current button {
	background: rgb(51, 96, 163) !important;
}

#analytics h5 {
	color: #aeaeae;
	font-weight: 300;
	padding-left: 10px;
}
#analytics h4 {
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-weight: 300;
	margin-top: 8px !Important;
}
#analytics h6 {
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-weight: 300;
	font-size: 1.2em;
}
.analyticstime{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.pagination {
	position: absolute;
	bottom: 0;
	left: 225px;
	padding-bottom: 20px;
}
.label.success {
    background-color: #43AC6A;
    color: #FFFFFF !important;
}
.side-nav li a:not(.button) {
	color: rgb(51, 96, 163);
	border-radius: 25px;
	font-size: 1.1em !important;

}
.side-nav li a:not(.button):hover {
	background-color: rgb(51, 96, 163) !important;
	color: #fff !important;
}
.tag {
    float: left;
    background: #e7e7e7;
    line-height: 30px;
	margin: 10px;
    padding: 0 30px 0 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	display: inline-block !important;
}

.underlinep p {
  border-bottom: 1px solid rgba(221, 221, 221, 0.46);
  line-height: 28px;
}

.profilemain {
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  width:100%;
  background-color:#FFF;
}

.profile-box {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
  padding-top:20px;
  margin-bottom: 20px;
}

.team-list {
  margin:0;
  background: #fff;
  float:  left;
  width:  100%;
}

.team-list li {
  list-style:   none;
}

.team-header {
  width:100%;
  border-top:  1px solid #ddd;


  text-align: left;
  float:  left;
}

.team-header h4 {
  margin: 20px;
    line-height: 24px;

}

.team-list h4 a {
  float:  right;
  font-size:  13pt;

}

.team-butons {
  float: left;
  border-right:1px solid #ddd;
}

.team-buttons a {
    float: left;
    height: 100%;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-left: 1px solid #ddd;
    color:rgb(51, 96, 163);
}

.team-divider {
    border-top: 1px solid #ddd;
    float: left;
    width: 100%;
}