@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);
@import url('/static/css/font-awesome.min.css');
@import url('/static/css/font-awesome.css');

body {
	background: #e5e5e5;

}
* {
	transition: all 0.2s ease;
}
h1, h2, h3, h5, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h4 {
	margin-top: 25px;
	color: #1f6380 !important;
	font-family: 'Raleway', sans-serif;
}
.manage h4 {
  color: #1f6380;
  border-bottom: 1px solid #1f6380;
  padding-bottom: 10px;
  margin: 15px 15px 15px 15px;
  font-family: 'Raleway', sans-serif !important;
  font-size: xx-large;
}

h6 {
	color: #2e3030;
	font-family: 'Raleway', sans-serif;
}

.row .collapse {
	font-family: 'Raleway', sans-serif;
	padding: 5px 0px 5px 0px;
}

.userportal h1 {
	text-align: center;
	color: #1f6380;
	margin:40px 0;
	font-weight: 400;
}


.active {
	background-color: #1f6380 !important;
	color:#FFF !important;
}
.marked {
	background-color: #e7e7e7;
	padding: 5px;
}
.userportal h2 {
  color: #1f6380 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: x-large;
    font-weight: 400;
}
.userportal a {
  background-color: transparent;
  color: #1f6380 ;
    font-size: 0.8125rem;
  border: 2px #1f6380  solid;
  padding: 15px 50px 15px 50px;
  margin-top:20px 0;
  float: left;
  font-family: 'Raleway', sans-serif !important;

}

.userportal a:hover {
	background-color: #1f6380;
	color: #fff;
}




.learnmore h2 {
  color: #fff !important;
  margin-top: 12px;
}




.learnmore {
	float: left;
	width: 100%;
	background: #1f6380 !important;
	border: 1px solid #1b5974 !important;
	border-left: 35px solid #1b5974 !important;
	min-height: 140px;
}

.learnmore h2 {
	color:#FFF;
	font-family: 'Raleway', sans-serif !important;
	font-size: x-large;
}


.secondary.small.button {

}

.learnmoreButton {
	  border: 2px #FFF  solid !important;
	  color:#FFF !important;
}

/* ------------- BUTTONS ------------- */
.profile {
  background-color: rgba(67, 172, 106, 1);
  color: #fff;
  border:2px solid #368a55;
  margin-top:20px;
  font-size: 0.8125rem;
  font-family: 'Raleway', sans-serif !important;
  padding: 15px 50px 15px 50px;
}
.profile:hover {
  background-color: #e5e5e5;
  color: #368a55;
  border-color: #368a55;
}
.logout {
  color: #ca3619;
  background:none;
  border: 2px #ca3619 solid;
  margin-top:20px;
  font-size: 0.8125rem;
  font-family: 'Raleway', sans-serif;
  padding: 15px 50px 15px 50px;
}
.logout:hover {
	background-color: #ca3619;
	color: #fff;
}
.secondary.small.button {
  background-color: transparent;
  color: #1f6380 ;
  border: 2px #1f6380  solid;
  padding: 15px 50px 15px 50px;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
}
.secondary.small.button:hover {
  background-color: #1f6380;
  color: #fff;
}
.buttonSelected2{
  background-color: #1f6380 !important;
  color: #fff !important; 
}
.buttonSelected2:hover{
  background-color: #fff !important;
  color: #1f6380 !important;
}
.learnmoreButton:hover {
  background: #fff !important;
  color: #1f6380 !important;
 }
 .Pollname p a {
  background-color: #e7e7e7;
  padding: 3px 7px 3px 7px;
  margin: 3px;
  color: #333333;
}
.Pollname p a:hover{
	background-color: #b9b9b9;
}
/* ------------- BUTTONS END ------------- */