@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900,300,200,100);
@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url('/static/css/font-awesome.min.css');
@import url('/static/css/font-awesome.css');


body {
	background: #e5e5e5;

}
* {
	transition: background-color 300ms ease-out;
}

/* --------------------------------------- */
/* -------------- MAIN STYLES ------------ */
/* --------------------------------------- */

.header {
  background-color: #FFF;
  border-bottom: 1px solid #ccc;
  padding: 30px 0 10px 0;
}

.header img {
  width: 150px;
  margin-top: -13px;
}

.header ul li {
  list-style: none;
  float:  left;
}

.header ul li a{
	color: rgb(51, 96, 163);
    margin-left: 30px;
	font-weight: 400;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
}
.header ul li a:hover {
	color: #1e87b3;
}
.fa {
	margin-right: 5px;
}
.fa-home {
	font-size: large;
}
.row .collapse {
	font-family: 'Raleway', sans-serif;
	padding: 5px 0px 5px 0px;
}
.active-d {
	background-color: #1f6380 !important;
	color:#FFF !important;
}
.marked {
	background-color: #e7e7e7;
	padding: 5px;
}
.learnmore {
	float: left;
	width: 100%;
	background:rgb(51, 96, 163) !important;
	border: 1px solid #1b5974 !important;
	border-left: 30px solid #21559e !important;
	min-height: 140px;
}
.learnmore a {
	color: #fff !important;
	font-weight: 300;
	text-decoration: none !important;
}
.learnmore2:hover {
	border-bottom: 1px dotted #fff !important;
}
.bluebackground {
	background-color: rgb(51, 96, 163);
	padding: 10px 20px 10px 20px;
}
.bluebackground h4 {
	color: #fff !important;
}
.bluebackground a h4:hover {
	color: #ccc !important;
	transition: background-color 300ms ease-out !important;
}
.widgetbox {
	background-color: #34495e;
	width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #34495e;
    margin-bottom: 1.25rem;
}
.widgetbox h5 {
	padding: 10px !important;
	color: #fff !important;
	margin: 0px !important;
	font-weight: 400 !important;
	text-transform: uppercase;
}
.widgetbox p {
	padding: 10px !important;
	color: #fff !important;
	margin-bottom: 10px;
}
.widgetpagenext {
	width: 100%;
	background-color: #223d58;
}
.widgetpagenext p {
	margin: 0px !important;
}
.widgetpagenext:hover {
	background-color: #385776;
}
.sutle {
  background: none;
  border-width: 1px !important;
  margin-top: 13px;
  padding-bottom: 5px;
  float: right;
}
.email-checkboxes {
  margin: 0;
}
.email-checkboxes {
  float: left;
  width: 100%;
}
.email-checkboxes li {
  float: left;
  list-style: none;
  width: 100%;
}
.email-checkboxes input {
  float: left;
}
.email-checkboxes label {
    margin-top: -4px;
  float: left;
  margin-left: 14px;
}

.left100 {
  float:left;
  width: 100%;
  	-webkit-transition-property: width;
	transition-property: width;
}

.margin {
  margin-top:4px !important;
}

.poll-edit {
  border: 1px solid #ccc;
  padding: 10px 16px;
  color: #747474!important;
  font-size: 10pt;
}
.poll-list {
  margin:0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  max-height: 525px;
  overflow-y:auto;
  margin-top: 11px;
  width: 100%;
}
.poll-list li {
  list-style: none;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
    padding: 16px;
}
.poll-list small {
  margin-top: -7px;
  float: left;
  color: #696969;
}

.poll-list li:last-child {
  border-bottom: none;
}

.simple {
  border-bottom-width: 1px;
}

.add-button {
  background: rgb(207, 207, 207);
  padding: 12px 0px;
  float: left;
  color: #FFF;
  font-size: 13pt;
  width: 84%;
  text-align: left;
  margin: 20px 8%;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
}

.add-button:hover, .add-button:focus {
  color:#FFF;
  background: rgb(176, 176, 176);
}
.add-button i {
  margin-right: 15px;
  font-size: 18pt;
  margin-top: 3px;
  float: left;
  margin-left: 27px;
}
.team li {
  padding:16px 0;
}
.team img {
  width: 60px;
  border-radius: 50%;
    margin-right: 12px;
      float: left;
}
.team {
    font-size: 14pt;
}

.team li h4 {
	font-size: 14pt;
	line-height: 12px;
	color: #333 !important;
}

.team-page {
  margin:0;
}

.team-page li {
    list-style: none;
    float:  left;
    padding: 25px 0 0 0;
    width:235px;
    text-align: center;
}
.team-page img {
width: 90px;
    border-radius: 50%;
}
.team-page p {
    font-size: 16pt;
    line-height: 37px;
}

.accordion .content {
    float: left;
    width: 100%;
}
.fa-arrow-right {
	font-size: small !important;
	line-height: 16px;

}

dd.accordion-navigation {
    float: left;
    width: 100%;
}
.control {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    float: left;
    background-color: #CCCBCB;
    /* box-sizing: content-box; */
    padding: 7px;
}
.sutledash {
	width: 100%;
}
.sutledash label{
	padding-bottom: 15px !important;
	margin-left: 0px;

}
.green {
	color: #43ac6a;
}
.sutledash small {
	line-height: 30px !important;
	font-size: large !Important;
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
  padding:0 !important;
}


#search-results li div:first-child {
  padding:0;
}

#search-results li div {
  line-height: 55px;
}

#notification {
  position: absolute;
  bottom: 0px;
  right: 21px;
  width: 300px;
}

#notification li {
	background-color: rgba(49, 97, 165, 0.34);
	list-style: none;
	padding: 10px;
	margin-top: 19px;
	float: left;
	width: 100%;
	border: 1px solid rgba(51, 51, 51, 0.21);
}
#invites {
	margin:0;
}
#invites li {
  list-style: none;
  line-height: 35px;
  float: left;
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

#invites input {
	background:none;
	border:1px solid #ddd;
	padding: 10px 20px;
	cursor:pointer;
	margin-left: 10px;
}

.yourteams {
    margin: 0;
}

.yourteams li {
    list-style: none;
    border: 1px solid #ddd;
    padding: 10px;
    float: left;
    width: 100%;
	background-color: #fff;
	margin: 10px 0px 10px 0px;
	
}

.yourteams li a {
    font-size: large;
	color: #333333;
	padding: 10px;
	font-family: 'Raleway', sans-serif;
	
}
.yourteams li a:hover {
	color: rgba(51, 96, 163, 0.93);
}

.yourteams .manage {
  background: none;
  background-color: #fff;
  padding: 8px 19px;
  margin-left: 10px;
  font-size: 9pt;
  color: rgba(51, 96, 163, 0.93);
  font-family: 'Oxygen', sans-serif;
  font-size: normal;
  
}
.yourteams .manage .fa {
	margin: 0px;
}
.red {
	color: #D42936 !important;
	font-weight: bold;
	border-radius: 12px;
}
.red:hover {
	color:#fff !important;
	background-color: #D42936 !important;
}
.joinedteams {
	padding-bottom: 15px;
	margin-top: 11px !important;
	font-size: 1em;
}
.joinedteams .fa {
	display: inline-block;
}
.joinedteams a{
	    color: #333333 !important;
}
.joinedteams span {
	background-color: #e7e7e7;
    border-color: #b9b9b9;
	padding: 5px 15px 5px 15px;
	margin-right: 10px;
	margin-left: 10px !important;
	border-radius: 25px;
}
.joinedteams span:hover {
	background-color: #b9b9b9;
}
.joinedteams .selected {
	background-color: rgba(51, 96, 163, 0.93) !important;
	color: #fff !important;
}
.teamsearch {
	padding: 10px !important;
	padding-right: 20px !important;
	padding-left: 20px !important;
	border-radius: 25px !important;
	width: 300px !important;
}
.yourteams .manage:hover {
  color: #333;
}
.keywordactivity2 {
	color: #2424AE;
}
.yourteams {
	padding: 10px 0px 10px 0px;
}
.radarreport {
	width: 100%;
	padding: 25px 0px 25px 0px;

}
.veryblue {
	color: rgba(51, 96, 163, 0.93) !important;
}
/* --------------------------------------- */
/* ------------ MAIN STYLES END ---------- */
/* --------------------------------------- */


/* --------------------------------------- */
/* -------------- TYPOGRAPHY ------------- */
/* --------------------------------------- */

h1, h2, h3, h5, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.whitebackground p, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif !important;
}
.whitebackground {
	background-color: #fff;
	padding: 20px 20px 0px 20px;
}
h4 {
	margin-top: 25px;
	color: #1f6380 !important;
	font-family: 'Raleway', sans-serif;
}
.manage h4 {
  color: #1f6380;
  border-bottom: 1px solid #1f6380;
  padding-bottom: 10px;
  margin: 15px 15px 15px 15px;
  font-family: 'Raleway', sans-serif !important;
  font-size: xx-large;
}
h6 {
	color: #2e3030;
	font-family: 'Raleway', sans-serif;
}
.userportal h1 {
	text-align: center;
	color: #1f6380;
	margin:40px 0;
	font-weight: 400;
}
.userportal h2 {
  color: #1f6380 !important;
  font-family: 'Raleway', sans-serif !important;
  font-size: x-large;
    font-weight: 400;
}
.learnmore h2 {
  color: #fff !important;
  margin-top: 12px;
  font-family: 'Raleway', sans-serif !important;
  font-size: x-large;
}
.managepollsection h4, .managepollsection p {
	white-space: nowrap;
	display: inline-block;
}
.managepollsection .marked  p{
	padding: 0px 10px 0px 10px;
}
.managepollsection h4 {
	line-height: 30px;
}
.managepollsection .marked {
	border-right: 5px solid #cdcbcb;
	margin-right: 15px;
}
.teamname {
	line-height: 62px !important;
	font-weight: bold;
	color: rgb(51, 96, 163);
	font-family: 'Oxygen', sans-serif;
}
/* --------------------------------------- */
/* ------------ TYPOGRAPHY END ----------- */
/* --------------------------------------- */


/* --------------------------------------- */
/* --------------- BUTTONS --------------- */
/* --------------------------------------- */

.profile {
  background-color: #43AC6A !important;
  color: #fff !important;
  border-color: #368a55 !important;
  padding: 15px 20px 15px 25px !important;
  margin-top:20px;
  font-size: 0.8125rem;
  font-family: 'Raleway', sans-serif !important;
}
.profile:hover {
  background-color: #e5e5e5 !important;
  color: #368a55 !important;
  border-color: #368a55 !important;
}
.logout {
  border: 2px #ca3619 solid !important;
  color: #ca3619 !important;
  margin-top:20px;
  font-size: 0.8125rem;
  font-family: 'Raleway', sans-serif;
  padding: 15px 20px 15px 25px !important;
}
.logout:hover {
  background: #ca3619 !important;
  color: #fff !important;
}
.secondary.small.button {
  background-color: transparent;
  color: #1f6380 ;
  border: 2px #1f6380  solid;
  padding: 15px 50px 15px 50px;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
}
.secondary.small.button:hover {
  background-color: #1f6380;
  color: #fff;
}
.buttonSelected2{
  background-color: rgb(51, 96, 163) !important;
  color: #fff !important;
}
.buttonSelected2:hover{
  background-color: #fff !important;
  color: #1f6380 !important;
}
.buttonSelected4 {
  background-color: #d4881b !important;
  color: #fff !important;
  border-color: #b06f13 !important;
}
.buttonSelected4:hover {
  background-color: #e5e5e5 !important;
  color: #b06f13 !important;
  border-color: #b06f13 !important;
}
.learnmoreButton:hover {
  background: #fff !important;
  color: #1f6380 !important;
  text-decoration: none !important;
 }
 .Pollname p a {
  background-color: #e7e7e7;
  padding: 3px 7px 3px 7px;
  margin: 3px;
  color: #333333;
}
.Pollname p a:hover{
	background-color: #b9b9b9;
}
.buttonSelected {
  background-color: #1f6380 !important;
  color: #fff !important;
}
.NoBorder {
	border: none !important;
	border-radius: 25px;
	font-family: 'Raleway', sans-serif;
}
.small {
	font-size: 1.25rem;
}
.veryblue {
	color: #2424AE !important;
}
.startout {
	width: 100%;
	border: 1px solid #d8d8d8;
	background-color: #fff;
	color: #fff !Important;
	font-family: 'Raleway', sans-serif;
	min-height: 476px;
}
.startout img {
	width: 115px;
	height: 115px;
	margin: auto;
	margin: 20px;
}
.startoutbutton {
	border-radius: 5px;
	font-size: 1rem !important;
	font-family: 'Oxygen', sans-serif;
}
.startout p{
	color: #222222;
	padding: 20px;
}
.new {
	color: #ee2e3d;
	font-size: small;
	margin-left: 5px;
}
.startout h1 {
	font-size: 1.7rem;
	text-align: centeR;
	padding: 20px;
	padding-bottom: 0px;
	font-family: 'Oxygen', sans-serif;
}
.startout h2 {
	font-size: 1.5rem;
	font-family: 'Oxygen', sans-serif;
}
.startout h3 {
	padding-top: 0px;
	padding: 30px;
	color: #fff;
	font-size: x-large;
	line-height: 0px !important;
	font-family: 'Oxygen', sans-serif;
}
.createyourcontent {
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
	background: rgb(51, 96, 163) !important;
}



.startoutright {
	line-height: 42px;
}
.startout hr {
	border: 1px solid #e5e5e5 !important;
}
.startoutpollbox {
	margin: 50px;
}
.invitesection {
	background: #ee2e3d;
	border-radius: 25px;
	padding: 10px;
	margin-top: 18px;
	font-family: 'Raleway', sans-serif;
}
.invitesection:hover {
	background:#D42936;
}
.nomargin {
	margin: 0px !important;
}
h4 .invitesection {
	font-size: small !important;
	color: #fff !important;
}
.invitesection span {
	margin-left: 5px;
	font-family: 'Source Sans Pro', sans-serif !important;
	letter-spacing: 3px;
}
.learnmoreButton {
	border: 2px #FFF  solid !important;
	color:#FFF !important;
}
.userportal .button a {
  background-color: transparent;
  color: #1f6380 ;
  font-size: 0.8125rem;
  border: 2px #1f6380  solid;
  padding: 15px 50px 15px 50px;
  margin-top:20px 0;
  font-family: 'Raleway', sans-serif !important;

}
.userportal .button a:hover {
	background-color: #1f6380;
	color: #fff;
}
.widthbutton {
	width: 100% !important;
	text-align: left;
}
.buttonClear {
  border: 2px #ca3619 solid !important;
  color: #ca3619 !important;
}
.buttonClear:hover {
	background-color: #ca3619 !important;
	color: #fff !important;
}
.PasswordButton {
	height: 37px;
	width: 100%;
	line-height: 12px;
	background-color: rgb(51, 96, 163);
}
.bluebutton {
	background-color: rgb(51, 96, 163) !important;
	border: 2px solid rgb(51, 96, 163) !important;
}
.bluebutton:hover {
	background-color: #fff !important;
	color: rgb(51, 96, 163) !important;
}
.underline:hover {
	text-decoration: underline;
}
.marginbig {
	margin-top: 9px !important;
}
/* --------------------------------------- */
/* ------------- BUTTONS END ------------- */
/* --------------------------------------- */

.poll {
  width: 100%;
  min-height: 100px;
  background-image: url('../img/water.jpg');
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px 20px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.pollgrid {
  margin: 0 20px;
  padding-top: 20px;
}
.poll h2 {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  font-size: x-large;
}
.polloption {
  margin: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  font-weight: lighter !important;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif !important;
  margin-bottom: 20px;
}
.polloption:hover {
	background: rgba(0, 0, 0, 0.7);
}
.polloption h3 {
  color: #fff;
  text-align: left;
  padding: 10px;
  text-shadow: 1px 1px 1px #000;
  font-size: large;
}
.pollfooter {
  margin-top: 100px;
  width: 100%;
  text-align: right;
}
.pollfooter a {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.pollfooter a:hover {
	text-decoration: underline;
}
.content h6{
	margin: 10px !important;
}
.smallusers {
	float: left;
	margin-top: 6px;
	margin-left: 10px;
}
.createapollhref {
	color: #1f6380 !important;
	border: 2px solid #1f6380 !important;
	padding: 15px 50px 15px 50px;
	border-radius: 5px;
}
.createapollhref:hover {
	background: #1f6380 !important;
	color: #fff !Important;
}
.round0 {
	border-radius: 50%;
	height: 110px;
	width: 110px;
	margin: 50px 20px 20px 20px;
}
.bluetext {
	color: rgb(51, 96, 163);
}

#tutorialheader {
    background: #2980b9;
    color: #fff;
    text-align: left;
	padding-bottom: 20px;
}
#tutorialheader h2 {
    color: #fff;
	font-size: 2.7em;
	font-family: 'Raleway', sans-serif !important;
}
.tutorialul {
	list-style: none;
	font-size: large;
}
.tutorialul li {
	padding: 10px 0px 10px 0px;
	font-family: 'Raleway', sans-serif !important;
}
.whitetutorial2 {
    float: left;
    background-color: #f7f7f7;
    width: 25%;
    height: 70px;
    margin-bottom: 50px;
	-webkit-border-top-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topright: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.whitetutorial2:Hover {
	background: #dadada;
}
.whitetutorial {
    float: left;
    background-color: #fff;
    width: 75%;
    height: 70px;
    margin-bottom: 50px;
}
.whitetutorial2 h4, .whitetutorial h4 {
	padding: 18px;
	padding-left: 30px;
	font-family: 'Raleway', sans-serif !important;
	font-size: large;
	line-height: 0px !Important;
	margin-top: 18px !Important;
}
.whitetutorial2 h4{
	font-weight: bold;
}
.tutorialimage0 {
	margin: -28px;
	width: 155px;
	height: 155px;
}
.divider {
    display: block;
    background: url(../img/tutorial/spine/divider.png) no-repeat top center;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 124px;
    margin-top: -18px;
    clear: both;
}
.tutorialline{
	background: url(../img/tutorial/spine/line.png) top center;
	height: 3px;
	width: 67%;
	margin: auto;
}
.tutorialup {
	background: url(../img/tutorial/spine/up.png) no-repeat top center;
	width: 33.3333%;
	height: 30px;
	display: inline-block;
}
.tutorialspine h2 {
	font-family: 'Raleway', sans-serif !important; 
	font-size: larger;
}
.whitebackgroundtutorial {
	background-color: #fff;
	padding-bottom: 150px;
}
.whitebackgroundanalytics {
	background-color: #fff;
	padding-bottom: 200px;
}
.divider2 {
    display: block;
    background: url(../img/tutorial/spine/divider2.png) no-repeat top center;
    position: relative;
    z-index: 999;
    width: 100%;
    height: 124px;
    margin-top: -18px;
    clear: both;

}
.tutorialline2{
	background: url(../img/tutorial/spine/line.png) top center;
	height: 3px;
	width: 67%;
	margin: auto;
	margin-top: -8px;
}
.tutorialup2 {
	background: url(../img/tutorial/spine/up2.png) no-repeat top center;
	width: 33.3333%;
	height: 40px;
	display: inline-block;
}
.notransition {
	transition: none !important;
}
.new {
    color: #ee2e3d;
    font-size: small;
    margin-left: 5px;
}
.marked {
    background-color: #e7e7e7;
    padding: 5px;
}
.tutorialborder {
	border:10px solid #f7f7f7 !important;
}
.css3-bounce-effect {
	-webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;
}
.tutorialsocial{
	width: 50px !important;
	height: 50px !important;
	margin-right: 15px;
}
#analytics .panel {
	min-height: 580px;
}	
.blue {
	color: rgb(51, 96, 163);
}
ul.pagination li.current a, ul.pagination li.current button {
	background: rgb(51, 96, 163) !important;
}

#analytics h5 {
	color: #aeaeae;
	font-weight: 300;
	padding-left: 10px;
}
#analytics h4 {
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-weight: 300;
	margin-top: 8px !Important;
}
#analytics h6 {
	font-family: 'Raleway', sans-serif;
	color: #333333;
	font-weight: 300;
	font-size: 1.2em;
}
.analyticstime{
	padding-left: 20px !important;
	padding-right: 20px !important;
}
.pagination {
	position: absolute;
	bottom: 0;
	left: 225px;
	padding-bottom: 20px;
}
.label.success {
    background-color: #43AC6A;
    color: #FFFFFF !important;
}
.side-nav li a:not(.button) {
	color: rgb(51, 96, 163);
	border-radius: 25px;
	font-size: 1.1em !important;

}
.side-nav li a:not(.button):hover {
	background-color: rgb(51, 96, 163) !important;
	color: #fff !important;
}
.tag {
    float: left;
    background: #e7e7e7;
    line-height: 30px;
	margin: 10px;
    padding: 0 30px 0 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
	display: inline-block !important;
}
@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-50%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-15%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-webkit-transform:translateY(-10%);
  }
  97% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-webkit-transform:translateY(-5%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

.underlinep p {
  border-bottom: 1px solid rgba(221, 221, 221, 0.46);
  line-height: 28px;
}

.profilemain {
  border-top:1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  width:100%;
  background-color:#FFF;
}

.profile-box {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  float: left;
  width: 100%;
  padding-top:20px;
  margin-bottom: 20px;
}
.progress  {
	color:#fff !important;
	text-shadow: 1px 1px 1px #000, 
}	
table thead {
    background: #fff !important;
}
.progress.alert .meter {
    border-radius: 5px;
}
table thead tr th, table thead tr td {
    color: #1f6380 !important;
	font-weight: 400 !important;
	font-family: 'Raleway', sans-serif !important;
}
td a{
	color: #333333 !important;
}
td a:hover {
	color: rgba(51, 96, 163, 0.93) !important;
}
table {
	border: 1px solid #ddd;
}
.analyticstime {
	-webkit-font-smoothing: antialiased;
	-webkit-user-select: none;
	background-color: rgb(238, 238, 238);
	background-image: -webkit-linear-gradient(top, rgb(238, 238, 238), rgb(224, 224, 224));
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-collapse: separate;
	border-image-outset: 0px;
	border-image-repeat: stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 2px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 2px 0px inset;
	box-sizing: content-box;
	color: rgb(102, 102, 102);
	cursor: default;
	display: inline-block;
	font-family: Roboto, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 26px;
	line-height: 27px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 70px;
	min-width: 50px;
	outline-color: rgb(102, 102, 102);
	outline-style: none;
	outline-width: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
}