{% load navigation %}
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	  <link rel="icon" type="image/png" href="/static/img/icon.png" />
      <title>Semety</title>
	  <meta name="description" content="Semety, monetize online revenue better and earn more. Catch your web visitors a completely fun and easy way of engaging." />
	  <meta name="robots" content="index, follow"/>
	  <meta name="GOOGLEBOT" content="INDEX, FOLLOW"/>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/css/foundation.css" />
      {% if user.is_authenticated %}
      <link rel="stylesheet" href="/static/css/default.css" />
      {% else %}
      <link rel="stylesheet" href="/static/css/custom.css" />
      {% endif %}
      <script src="/static/js/vendor/modernizr.js"></script>
	  
	  <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-70476930-1', 'auto');
		  ga('send', 'pageview');

	  </script>
	  
   </head>
   <body>
    {% if user.is_authenticated %}
    <div class="header">
      <div class="row">
        <div class="large-4 small-12 columns">
         <a href="/"><img class="logo" src="/static/img/logo.png"></a>
        </div>
        <div class="large-8 columns">
          <ul class="right">
            <!--
            <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="/team/">Team</a></li>
            <li><a href="/profile/" >Profile</a></li>
            <li><a href="/logout/" >Log out</a></li>
            -->
            {% navigation %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
    {% block content %}{% endblock%}
    <script src="/static/js/vendor/jquery.js"></script>
    <script src="/static/js/foundation.min.js"></script>
    <script src="/static/js/foundation/foundation.accordion.js"></script>
    {% if user.is_authenticated %}
    <script src="/static/js/functions.js"></script>
    {% endif %}
    <script src="/static/js/Chart.js"></script>
    <script>
      $(document).foundation();7
      var csrf = "{{ csrf_token }}"
    </script>
    <ul id="notification"></ul>
    {% block js %}{% endblock%}
	</div>
		<div class="large-12 columns">
			<div class="row footer">
			<hr/>
				<div class="large-6 columns">
					<p>All rights reserved, © Copyright <a href="http://semety.com">Semety</a>, 2015.</p>
				</div>
				<div class="large-6 columns">
					<ul class="inline-list right">
						<li><a href="http://livepicturefeed.com">LivePictureFeed</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Terms and Conditions</a></li>
					</ul>
				</div>
			</div>
		</div>
  </body>
</html>