<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Foundation | Welcome</title>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="/static/css/foundation.css" />
      <link rel="stylesheet" href="/static/css/default.css" />
      <script src="/static/js/vendor/modernizr.js"></script>
   </head>
   <body>
   <div class="header">
     <div class="row">
       <div class="large-12 columns">
       <a href="/"><img src="/static/img/logo.png"></a>
       {% if user.is_authenticated  %}
       <p>
        Welcome, {{ request.user }} | <a href="/logout">Logout.</a>
       </p>
       {% endif %}
       </div>
     </div>
   </div>
   {% if user.is_authenticated  %}
   {% block content %}{% endblock%}
   {%else %}
    <p><a href="/login">Login</a></p>
    {% block login %}{% endblock%}
   {% endif %}

   </body>
</html>